body {
    font-family: sans-serif;
    margin: 0;
}

#menu-principal {
    top: 0;
    position: sticky;
    background: black;
    z-index: 1000;
}

#menu-principal > ul {
    padding-left: 1em;
    margin: 0;
}

#menu-principal > ul > li {
    list-style: none;
    display: inline-block;
}

#menu-principal > ul > li > ul > li {
    list-style: none;
}

#menu-principal > ul > li > ul {
    display:none;
}

#menu-principal > ul > li:hover > ul {
    display: block;
    position: absolute;
    top: 1.5em;
    left: 0px;
    background: black;
    padding-left: 1em;
}

#menu-principal a {
    display: inline-block;
    padding: 0.25em;
    color: white;
}

#menu-principal a:hover {
    color: black;
    background: white;
    text-decoration: none;
}

p, pre {
    margin: 1em;
}

a {
    color: rgb(0,42,255); /* #002AFF; */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

pre {
    background: #EFEFEF;
    padding: 0 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0.5em 0.5em 1em #aaa;
}

h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    background: darkgray;
    -webkit-text-stroke: 1px black;
    text-shadow: -1px -1px 0em white;
    transform: rotate(3deg);
    width: 90%;
    margin: 1em auto;
}

#zen-intro {
    background: lightgray;
    padding-top: 1em;
}

.superdestacado {
    font-size: 1.5em;
}

h2, h3, h4, h5, h6 {
    background: black;
    color: white;
    padding: 0.5em;
}

aside a {
    color: red;
}

aside li {
    list-style: none;
}

aside li:before {
    content: "{"
}

aside li:after {
    content: "}"
}

aside ul {
    padding-left: 0;
}

/* Posicionamiento */


@media (min-width: 400px) {
    main article {
        float: right;
        width: 50%;
    }
    #zen-requirements {
        clear:left;
    }
}

@media (min-width: 700px) {
    main article {
        width: 33.3333333%;
    }
}
